<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar uma quadra | LoQuadra</title>
    <link rel="shortcut icon" href="/images/map-marker.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/page-create-quadra.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</head>

<body>
    <div id="page-create-quadra">
        <aside class="animate-right sidebar">
            <img src="/images/map-marker.svg" alt="Happy">

            <footer>
                <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                </button>
            </footer>
        </aside>

        <main class="animate-appear with-sidebar">
            <form action="save-quadra" method="POST">
                <fieldset>
                    <legend>Dados</legend>

                
                    <!-- Inputs de latitude e longitude -->
                    <div class="input-block">
                        <label for="lat">Latitude</label>
                        <input id="lat" name="lat" required>
                    </div>

                    <div class="input-block">
                        <label for="lng">Longitude</label>
                        <input id="lng" name="lng" required>
                    </div>

                    <div class="input-block">
                        <label for="name">Nome</label>
                        <input id="name" name="name" required>
                    </div>

                    <div class="input-block">
                        <label for="type_block">Tipo da quadra</label>
                        <input id="type_block" name="type_block" required>
                    </div>

                    <div class="input-block">
                        <label for="about">Sobre <span>Máximo de 300 caracteres</span></label>
                        <textarea id="about" name="about" required></textarea>
                    </div>

                    <div class="input-block images">
                        <label for="images">Fotos</label>
                        <div class="images-upload" id="images">
                            <div class="new-upload">
                                <input name="images" placeholder="Cole o link da foto aqui" required type="url">
                                <span onclick="deleteField(event)">
                                    <img src="/images/remove-file.svg" alt="Remover foto">
                                </span>
                            </div>
                        </div>

                        <button type="button" onclick="addPhotoField()">
                            <img src="/images/add-file.svg" alt="Nova imagem">
                        </button>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Endereço</legend>
                    
                    <div class="input-block">
                        <label for="cep">CEP</label>
                        <input id="cep" name="cep" required>
                    </div>

                    <div class="input-block">
                        <label for="street">Logadouro</label>
                        <input id="street" name="street" required>
                    </div>

                    <div class="input-block">
                        <label for="number">Número</label>
                        <input id="number" name="number" required>
                    </div>

                    <div class="input-block">
                        <label for="district">Bairro</label>
                        <input id="district" name="district" required>
                    </div>

                    <div class="input-block">
                        <label for="city">Cidade</label>
                        <input id="city" name="city" required>
                    </div>

                    <div class="input-block">
                        <label for="state">Estado</label>
                        <input id="state" name="state" required>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Contato</legend>

                    <div class="input-block">
                        <label for="whatsapp">Número de WhatsApp</label>
                        <input id="whatsapp" name="whatsapp" required>
                    </div>

                    <div class="input-block">
                        <label for="telephone">Número de Telefone</label>
                        <input id="telephone" name="telephone" required>
                    </div>

                    <div class="input-block">
                        <label for="email">E-mail</label>
                        <input id="email" name="email" required>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Visitação</legend>

                    <div class="input-block">
                        <label for="opening_hours">Horário das visitas</label>
                        <input id="opening_hours" name="opening_hours" required>
                    </div>

                    <div class="input-block">
                        <label for="price_hour">Valor da hora</label>
                        <input id="price_hour" name="price_hour" required>
                    </div>

                    <div class="input-block">
                        <label for="open_on_weekends">Atende fim de semana?</label>
                        <input type="hidden" id="open_on_weekends" name="open_on_weekends" value="1" required>

                        <div class="button-select">
                            <button type="button" onclick="toggleSelect(event)" data-value="1"
                                class="active">Sim</button>
                            <button type="button" onclick="toggleSelect(event)" data-value="0">Não</button>
                        </div>

                        <button type="submit" class="primary-button">Confirmar</button>
                    </div>
                </fieldset>
            </form>
        </main>
    </div>

    <script src="/scripts/page-quadras.js"></script>
</body>

</html>