<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoQuadra</title>
    <link rel="icon" href="/images/map-marker.svg" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />

          <div>
            <a href="/login" class="enter-restrict-access">
              Login
            </a> 

            <div class="location animate-up">
              <strong>Senac</strong>
              <p>São Paulo</p>
            </div>
          </div>          
        </header>
        <main>
          <h1 class="animate-up">Alugue quadras pela região</h1>
          <section class="visit">
            <p class="animate-up">
              Descubra facilmente as quadras pela redondeza!
            </p>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
