<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localize uma quadra | LoQuadra</title>
    <link rel="shortcut icon" href="/images/map-marker.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-quadras.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</head>

<body>
    <div id="page-quadras">
        <aside class="animate-right">
            <header>
                <img src="/images/map-marker.svg" alt="Happy" width="200px" height="200px">
                <h2>Escolha uma quadra no mapa</h2>
                <p>Veja as informações para locação!</p>
            </header>

            <footer>
                <strong>Senac</strong>
                <p>São Paulo</p>

                <a href="/" class="home-back">
                    <img src="/images/arrow-back.svg" alt="Voltar para a home">               
                </a>
            </footer>
        </aside>

        <div id="mapid" class="animate-appear"></div>

        <div class="quadras">
            {{#each quadras}}
            <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-lat="{{this.lat}}"
                data-lng="{{this.lng}}"></span>
            {{/each}}
        </div>

        <a href="/contact-us" class="contact">
            <img src="/images/contact.svg" alt="Entrar em contato">
            <span>Entre em contato</span>
        </a>

        <a href="/dashboard" class="dashboard">
            <img src="/images/dashboard.svg" alt="Entrar em contato">
            <span>Dashboard</span>
        </a>

        {{!-- <a href="#abrirModal" class="create-quadra">
            <img src="/images/plus.svg" alt="Criar quadra">
        </a> --}}
    </div>

    {{!-- <div id="abrirModal" class="modal">
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <form action="modal" method="POST" >
            <legend>Apenas administradores podem cadastrar quadras</legend>
            <div class="block">
                <label for="name">Senha</label>
                <input id="password" name="password" type="password" id="senha" name="senha" required>
            </div>
            <button type="submit" class="primary-button">Acessar</button>
        </form>
    </div> --}}

    <script>
    window.watsonAssistantChatOptions = {
        integrationID: "dff59b6c-d138-4f44-900d-bb8eb4bf4ea7", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "4049ed3d-8065-4916-ab99-18dd1c6145cc", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>

    <script src="/scripts/page-quadras.js"></script>
</body>

</html>